:root {
  --btn-width: auto;
  --btn-height: auto;
  --btn-align-items: center;
  --btn-font-size: 1.25rem;
  --btn-font-weight: 700;
}

.btn {
  width: var(--btn-width);
  height: var(--btn-height);
  display: flex;
  justify-content: var(--btn-justify-content);
  align-items: var(--btn-align-items);
  font-size: var(--btn-font-size);
  font-weight: var(--btn-font-weight);
  background-color: var(--main-transparent-bg-color);
  border: var(--main-border);
}

.btn:hover {
  border: var(--main-border);
  cursor: var(--main-cursor);
}

.btn-active {
  color: var(--main-btn-active-color);
}
