:root {
  --add-btn-bg-color: hsl(240, 50%, 73%);
}

.nav-bar {
  height: auto;
  width: 85%;
  margin: 0 auto;
  border-top: 1.5px solid black;
  box-shadow: 2px brown;
}

.nav-bar-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 1rem;
}

.nav-bar-items a {
  text-decoration: none;
}

#add-btn {
  background-color: var(--add-btn-bg-color);
  font-size: 1.4rem;
  border-radius: 10px;
  padding: 0 1.4em;
  cursor: var(--main-cursor);
}

#add-btn:hover {
  border: 2px solid rgb(20, 124, 20);
  box-shadow: 2px 5px 5px 2px gray;
}
